*.aux
*.fdb_latexmk
*.log
*.fls
*.pdf
!gfx/*.pdf
*.out
*.bbl
*.blg
*.bcf
*.run.xml
thesis-blx.bib
bib_sources.conf
references.bib
figures.make
*.figlist
*.makefile
cache
rna-seq-example.html
rna-seq-example.md
